<template name="hello">
  <a href="/join" class = "blue-button">Join a Table</a>
  <a href="/create" class = "blue-button">Create a Table</a>
</template>

<template name="joinForm">
  <input type="text" placeholder="First" id="first"><br>
  <input type="text" placeholder="Last" id="last"><br>
  <input type="text" placeholder="Table" id="table"><br>
  <paper-button class="blue-button">Join Table</paper-button>
</template>

<template name="createForm">
  <input type="text" placeholder="First" id="first"><br>
  <input type="text" placeholder="Last" id="last"><br>
  <input type="text" placeholder="Table" id="table"><br>
  <paper-button class="blue-button">Create Table</paper-button>
</template>

<!-- adding a comment to test rsync-->
