<template name="hello">
  <paper-button>
    <a href="/join" class = "blue-button">Join a Table</a>
  </paper-button>
  <paper-button>
    <a href="/create" class = "blue-button">Create a Table</a>
  </paper-button>
</template>

<template name="joinForm">
  <input type="text" placeholder="First" id="first"><br>
  <input type="text" placeholder="Last" id="last"><br>
  <input type="text" placeholder="Table" id="table"><br>
  <paper-button class="blue-button">Join Table</paper-button>
</template>

<template name="createForm">
  <input type="text" placeholder="First" id="first"><br>
  <input type="text" placeholder="Last" id="last"><br>
  <input type="text" placeholder="Table" id="table"><br>
  <paper-button class="blue-button">Create Table</paper-button>
</template>

<template name="addBills">
  Name here.... blah blah blah
  1: <input type="text" placeholder="0" id="1"><br>
  5: <input type="text" placeholder="0" id="5"><br>
  10:<input type="text" placeholder="0" id="10"><br>
  20:<input type="text" placeholder="0" id="20"><br>
  50:<input type="text" placeholder="0" id="50"><br>
  100:<input type="text" placeholder="0" id="100"><br>
</template>
<!-- adding a comment to test rsync-->

<template name="results">
  <!--
  <table>
    <th>
      <td>Name</td>
      <td>1</td>
      <td>5</td>
      <td>10</td>
      <td>20</td>
      <td>50</td>
      <td>100</td>
    </th>
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.1}}</td>
      <td>{{this.5}}</td>
      <td>{{this.10}}</td>
      <td>{{this.20}}</td>
      <td>{{this.50}}</td>
      <td>{{this.100}}</td>
    </tr>
    <button>Create a new Table/Retry</button>
    -->
    <!--input type="text" placeholder="email-address">
	<!input type="text" placeholder="email-address"-->
    <!--  
	  </table>
-->
    
</template>

