<head>
  <link rel="import" href="bower_components/paper-checkbox/paper-checkbox.html">
  <link rel="import" href="bower_components/paper-button/paper-button.html">
  <link rel="import" href="bower_components/core-header-panel/core-header-panel.html">
  <link rel="import" href="bower_components/core-toolbar/core-toolbar.html">
  <title>spillblit</title>
</head>

<body>
  <!--nothing here-->
</body>

<template name="mainHeader">
  <div><a href="/">Hello world!</a></div>
  
</template>

<!--rendered into body, stuff everything in here-->
<template name="layout">
  <div class="container">
    <core-header-panel flex>
      <core-toolbar>
      {{>yield "header"}}
      </core-toolbar>
      <div class="content" fit>
      {{>yield}}
      </div>
    </core-header-panel>
  </div>
</template>

<!--
    Splash Page - Like our stuff, use our stuff, etc
    ENTER YOUR AMOUNTS/ANY DEBTS
    Results page (click to close webpage/ try again)

    data specification
    {
    "user1":
    {
    "bill": 20
    },
    {
    "20": 5,
    "10": 5,
    "5": 23,
    "2": 1,
    "1", 0
    }
    }
    
  -->

