<template name="create">
  <h2 class="center-align">Create a New Table</h2>
  <div class="row">
    <form class="col s12">
      <div class="input-field col s12">
        <i class="mdi-action-account-circle prefix"></i>
        <input id="name" type="text" class="validate">
        <label for="name">Your Name</label>
      </div>
      <div class="input-field col s12">
        <i class="mdi-maps-local-restaurant prefix"></i>
        <input id="table" type="text" class="validate">
        <label for="table">Table Name</label>
      </div>
      <div class="col s12 center-align">
        <br>
        <a class="waves-effect waves-light btn center-align" id="create">Create Table</a>
      </div>
    </form>
  </div>
</template>

<template name="home">
  <div class="section center-align" style="height:40%">
    <br>
    <h1>HELLO PLEASSE WORK</h1>
    <h3>yada yada yada</h3>
  </div>
  <div class="green lighten-3" style="height:50%;">
    <div class="center-align">
      <br><h5>talk about what we dooooo hereer alksdjfklajdsl kajf lkdjalkfj dkljfalkdj  lorem ipsum text yay</h5>
    </div>
    <div class="row">
      <div class="col s6 center-align">
        <i class = "large mdi-maps-local-restaurant"></i><br>
        <a class="waves-effect waves-light btn-large" href="/create">
          Create a table
        </a>
      </div>
      <div class="col s6 center-align">
        <i class = "large mdi-social-person-add"></i><br>
        <a class="waves-effect waves-light btn-large" href="/join">
          Join a table
        </a>
      </div>
    </div>
  </div>
</template>


<template name="join">
    <h2 class="center-align">Join a Table</h2>
    <div class="row">
        <form class="col s12">
            <div class="input-field col s12">
                <i class="mdi-action-label prefix"></i>
                <input id="id" type="text" class="validate">
                <label for="id">Table ID</label>
            </div>
            <div class="input-field col s12">
                <i class="mdi-action-label prefix"></i>
                <input id="name" type="text" class="validate">
                <label for="name">Your Name</label>
            </div>
            <div class="col s12 center-align">
                <br>
                <a class="waves-effect waves-light btn center-align" id="join">Join Table</a>
            </div>
        </form>
    </div>

</template>

<template name="table">
  <table>
    <tr>
      {{#each getResults}}
      <tr>
        <td>Name: {{this.name}}</td>
        {{>person this}}
        <td>Tip owed: {{this.tip_owed}}</td>
    </tr>{{/each}}
</tr>
</table>
</template>

<template name="person">
    {{#each this.net_bills}}
        Change in {{this.[0]}}: {{this.[1]}}
    {{/each}}
</template>

<template name="aggregate_denomination_view">
    <!-- use some inserted data to check which template to include-->
    {{#each get_denominations}}
        <!--div class="row">
            <div class="col s3">
                {{this.[0]}}
            </div>
            <div class="col s9">
                <input type="text" id="{{this.[0]}}" value="0">
                <a class="btn-large" id="up{{this.[0]}}">+1</a>
                <a class="btn-large" id="down{{this.[0]}}">-1</a>
            </div>
        </div-->
	
		<div class="input-field col s8">
		  <input id="{{this.[0]}}" type="number" class="validate" style="height:30px">
		  <label for="{{this.[0]}}">{{this.[0]}}</label>
		</div>
		<div class="col s4 left-align">
		  <a class="btn-floating btn waves-effect waves-light green lighten-2" id="up{{this.[0]}}"><i class="mdi-content-add"></i></a>
		  <a class="btn-floating btn waves-effect waves-light green lighten-2" id="down{{this.[0]}}"><i class="mdi-content-remove"></i></a>
		</div>
	
    {{/each}}
</template>

<template name="table_view">
  <br><br>
    <div class="row valign-wrapper">
        <div class="col s8">{{>aggregate_denomination_view}}</div>
        <div class="col s4 valign center-align">{{>enter_check}}</div>
    </div>
</template>

<template name="enter_check">
    Put your thing in here
    <div class="input-field">
        <input id="check" type="text" class="validate" value="0.00">
        <label for="check">Check subtotal</label>
    </div>
</template>

<template name="enter_denominations">
    <!-- each a single_denomination_view and denomination_button, add
    some click events on THIS template that catch the ones from below-->

</template>


<template name="denomination_button">
    <!-- Button for the denominations? -->
</template>




<template name="resulted">
  <table>
    <tr class="data-table-header">
      <th data-field="type">Denomination</th>
      <th data-field="put">Put in Pile</th>
      <th data-field="take">Take from Pile</th>
    </tr>
    {{#each resultsData}}
    <tr>
      <td>{{this.denomination}}</td>
      <td>{{this.put}}</td>
      <td>{{this.take}}</td>
    </tr>
    {{/each}}
  </table>
</template>
