<template name="create">
<paper-input-decorator floatingLabel label="Your Name"><input id="name" required></paper-input-decorator>
<paper-input-decorator floatingLabel label="Table Name"><input id="table" required></paper-input-decorator>
<paper-button class="blue-button" id="create">Create</paper-button>
</template>

<template name="home">
<!--div class="cover-cont">
  <span class="cover pontano" style="width: 200px">
    <paper-button class="blue-button"><a class="nolink" href="/create">Create Table</a></paper-button><br>
    <paper-button class="blue-button"><a class="nolink" href="/join">Join Table</a></paper-button><br>
    <paper-button class="blue-button"><a class="nolink" href="/enterBills">Test: Enter Bills</a></paper-button>
  </span>
  <img>
</div-->
<div class = "cover-cont">
  <div class = "cover-top">
    <center><h1 class = "pontano">Bill Splitting Made Easy</h1></center>
  </div>
  <div class = "cover-buttons" target="_self">
    <center>
      <a href="/create" target="_self">
	<paper-button class="cover-icon">
	  <core-icon src="/house-things1.png" style="width:64px;height:64px"></core-icon>
	  <br><br>Create
	</paper-button>
      </a>
      <a href="/join" target="_self">
	<paper-button class="cover-icon">
	  <core-icon src="/utensil13.png" style="width:64px;height:64px"></core-icon>
	  <br><br>Join
	</paper-button>
      </a>
    </center>
  </div>
</div>
</template>

<template name="join">
  <paper-input-decorator floatingLabel label="Table ID"><input id="id" required></paper-input-decorator>
  <paper-button class="blue-button" id="join">Join</paper-button>
</template>

<template name="table">
<paper-input-decorator floatingLabel label="Name"><input id="name" disabled={{hasSession "name"}} required value="{{session "name"}}"></paper-input-decorator>
<div horizontal around-justified layout style="padding-left: 20em; padding-right: 20em">
	<table>
		<tbody>
			<tr>
				<td><paper-input-decorator autovalidate error="Value must be a positive integer" floatingLabel label="0.01"><input id="0.01" is="core-input" pattern="[0-9]+" required value="0"></paper-input-decorator></td>
				<td><div vertical layout><paper-icon-button icon="add" id="add0.01"></paper-icon-button><paper-icon-button icon="remove" id="remove0.01"></paper-icon-button></div></td>
			</tr>
			<tr>
				<td><paper-input-decorator autovalidate error="Value must be a positive integer" floatingLabel label="0.05"><input id="0.05" is="core-input" pattern="[0-9]+" required value="0"></paper-input-decorator></td>
				<td><div vertical layout><paper-icon-button icon="add" id="add0.05"></paper-icon-button><paper-icon-button icon="remove" id="remove0.05"></paper-icon-button></div></td>
			</tr>
			<tr>
				<td><paper-input-decorator autovalidate error="Value must be a positive integer" floatingLabel label="0.10"><input id="0.10" is="core-input" pattern="[0-9]+" required value="0"></paper-input-decorator></td>
				<td><div vertical layout><paper-icon-button icon="add" id="add0.10"></paper-icon-button><paper-icon-button icon="remove" id="remove0.10"></paper-icon-button></div></td>
			</tr>
			<tr>
				<td><paper-input-decorator autovalidate error="Value must be a positive integer" floatingLabel label="0.25"><input id="0.25" is="core-input" pattern="[0-9]+" required value="0"></paper-input-decorator></td>
				<td><div vertical layout><paper-icon-button icon="add" id="add0.25"></paper-icon-button><paper-icon-button icon="remove" id="remove0.25"></paper-icon-button></div></td>
			</tr>
			<tr>
				<td><paper-input-decorator autovalidate error="Value must be a positive integer" floatingLabel label="0.50"><input id="0.50" is="core-input" pattern="[0-9]+" required value="0"></paper-input-decorator></td>
				<td><div vertical layout><paper-icon-button icon="add" id="add0.50"></paper-icon-button><paper-icon-button icon="remove" id="remove0.50"></paper-icon-button></div></td>
			</tr>
		</tbody>
	</table>
	<table>
		<tbody>
			<tr>
				<td><paper-input-decorator autovalidate error="Value must be a positive integer" floatingLabel label="1"><input id="1" is="core-input" pattern="[0-9]+" required value="0"></paper-input-decorator></td>
				<td><div vertical layout><paper-icon-button icon="add" id="add1"></paper-icon-button><paper-icon-button icon="remove" id="remove1"></paper-icon-button></div></td>
			</tr>
			<tr>
				<td><paper-input-decorator autovalidate error="Value must be a positive integer" floatingLabel label="2"><input id="2" is="core-input" pattern="[0-9]+" required value="0"></paper-input-decorator></td>
				<td><div vertical layout><paper-icon-button icon="add" id="add2"></paper-icon-button><paper-icon-button icon="remove" id="remove2"></paper-icon-button></div></td>
			</tr>
			<tr>
				<td><paper-input-decorator autovalidate error="Value must be a positive integer" floatingLabel label="5"><input id="5" is="core-input" pattern="[0-9]+" required value="0"></paper-input-decorator></td>
				<td><div vertical layout><paper-icon-button icon="add" id="add5"></paper-icon-button><paper-icon-button icon="remove" id="remove5"></paper-icon-button></div></td>
			</tr>
			<tr>
				<td><paper-input-decorator autovalidate error="Value must be a positive integer" floatingLabel label="10"><input id="10" is="core-input" pattern="[0-9]+" required value="0"></paper-input-decorator></td>
				<td><div vertical layout><paper-icon-button icon="add" id="add10"></paper-icon-button><paper-icon-button icon="remove" id="remove10"></paper-icon-button></div></td>
			</tr>
			<tr>
				<td><paper-input-decorator autovalidate error="Value must be a positive integer" floatingLabel label="20"><input id="20" is="core-input" pattern="[0-9]+" required value="0"></paper-input-decorator></td>
				<td><div vertical layout><paper-icon-button icon="add" id="add20"></paper-icon-button><paper-icon-button icon="remove" id="remove20"></paper-icon-button></div></td>
			</tr>
			<tr>
				<td><paper-input-decorator autovalidate error="Value must be a positive integer" floatingLabel label="50"><input id="50" is="core-input" pattern="[0-9]+" required value="0"></paper-input-decorator></td>
				<td><div vertical layout><paper-icon-button icon="add" id="add50"></paper-icon-button><paper-icon-button icon="remove" id="remove50"></paper-icon-button></div></td>
			</tr>
			<tr>	
				<td><paper-input-decorator autovalidate error="Value must be a positive integer" floatingLabel label="100"><input id="100" is="core-input" pattern="[0-9]+" required value="0"></paper-input-decorator></td>
				<td><div vertical layout><paper-icon-button icon="add" id="add100"></paper-icon-button><paper-icon-button icon="remove" id="remove100"></paper-icon-button></div></td>
			</tr>
		</tbody>
	</table>
</div>
<div vertical center-justified layout>
	<br>
	<span style="text-align:center">Total: <span id="total">0.00</span></span><br>
	<div horizontal center-justified layout>
		<paper-button class="blue-button" id="submit">Submit</paper-button>
		<paper-button id="reset">Reset</paper-button>
	</div>
</div>
{{#each getTable this}}{{this}}<br>{{/each}}
<table>
	<thead><tr><th>Name</th>{{#each getDenominations}}<th>{{this}}</th>{{/each}}</tr></thead>
	<tbody>
    {{#each getTableBills this}}
        <tr>
            {{#each this}}
                <td>{{this}}</td>
            {{/each}}</tr>
    {{/each}}</tbody>
</table>
</template>

<template name="results">
  <div class="data-container">
    <div class="data-content"  center-justified horizontal layout>
      <table id="data-table">
	<tr class="data-table-header">
	  <td>Bill/Coin</td>
	  <td>Put in the Pile</td>
	</tr>
	<tr class="data-table-row">
	  <td>$0.01</td>
	  <td id="result-0.01">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$0.05</td>
	  <td id ="result-0.05">0</td> <!-- {{some_value}} -->
	</tr>
	<tr class="data-table-row">
	  <td>$0.10</td>
	  <td id="result-0.10">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$0.25</td>
	  <td id="result-0.25">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$0.50</td>
	  <td id="result-0.50">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$1</td>
	  <td id="result-1">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$5</td>
	  <td id="result-5">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$10</td>
	  <td id="result-10">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$20</td>
	  <td id="result-20">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$50</td>
	  <td id="result-50">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$100</td>
	  <td id="result-100">0</td>
	</tr>    
      </table>
   
      <table id="data-table">
	<tr class="data-table-header">
	  <td>Bill/Coin</td>
	  <td>Put in the Pile</td>
	</tr>
	<tr class="data-table-row">
	  <td>$0.01</td>
	  <td id="result-0.01">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$0.05</td>
	  <td id ="result-0.05">0</td> <!-- {{some_value}} -->
	</tr>
	<tr class="data-table-row">
	  <td>$0.10</td>
	  <td id="result-0.10">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$0.25</td>
	  <td id="result-0.25">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$0.50</td>
	  <td id="result-0.50">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$1</td>
	  <td id="result-1">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$5</td>
	  <td id="result-5">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$10</td>
	  <td id="result-10">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$20</td>
	  <td id="result-20">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$50</td>
	  <td id="result-50">0</td>
	</tr>
	<tr class="data-table-row">
	  <td>$100</td>
	  <td id="result-100">0</td>
	</tr>    
      </table>
    </div>

  </div>
</template>


<template name="spinner">
  <div class="valign-wrapper">
     <div class="center-align valign">
       {{> spinner}}
       
    </div>
  </div>
</template>
